<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Notes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="container">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Notes</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="chevron-down-circle-outline"
        pullingText="Tarik Untuk Memuat Data"
        refreshingSpinner="circles"
        refreshingText="Memuat Ulang Data..."
      >
      </ion-refresher-content>
    </ion-refresher>
    
    <ion-card *ngFor="let item of lists">
      <ion-card-header>
        <ion-card-title>{{ item.judul }}</ion-card-title>
        <ion-card-subtitle>{{ item.nama_tag }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <!-- {{ item.isi }} -->
        <ion-button
            [routerLink]="['/show-note/',item.id_note]"
            routerLinkActive="router-link-active"
            >Detail</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-fab slot="fixed" vertical="bottom" horizontal="end" style="padding: 20px;">
      <ion-fab-button [routerLink]="['/add-note']">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-infinite-scroll (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content
        loadingSpinner="circles"
        loadingText="Sedang Memuat Data..."
      >
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>
</ion-content>
